:root {
    --text-color: #a3a3a3;
    --attention-color: #fede48;
    font-size: 16px;
}

.usersList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.userCard.absolute{
    position: absolute;
    box-shadow: 0 0 5px #afafaf;
}

.z0{
    transform: translateY(-20px) scaleX(0.86);
}

.z1{
    transform: translateY(-10px) scaleX(0.93);
}

.userCard {
    background: white;
    min-height: 24vh;
    max-width: 530px;
    width: 100%;
    display: flex;
    border-radius: 5px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    box-shadow: 0 0 10px #afafaf;
}

.userCard::after {
    content: "+";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--attention-color);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    position: absolute;
    right: -25px;
    top: calc(50% - 25px);
}

.imageWrapper {
    width: 40%;
}

.userImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.userInfo {
    margin: auto 10% auto;
    color: var(--text-color);
}

.userPersonalInfo {
    padding-bottom: 35%;
}

.userName {
    color: #000;
    font-size: 1.5rem;
}

.userStatusContainer {
    display: flex;
}

.userStatus {
    display: flex;
    flex-direction: column;
}

.userStatus > span:first-child {
    padding: 0 20px 7px 0;
}

@media (max-width: 550px) {
    .userCard {
        flex-direction: column;
    }

    .imageWrapper {
        width: 100%;
    }

    .userInfo {
        margin: 0;
        padding: 1em;
    }

    .userCard::after {
        display: none;
    }
}